[buildout]
newest = false

extends =
    versions-caching.cfg
    versions-plone.cfg
    versions-picked-while-unstable.cfg
    versions.cfg

extensions =
    mr.developer
    buildout.sanitycheck

#    buildout.dumppickedversions

dump-picked-versions-file = profiles/versions-picked-while-stable.cfg

eggs =
    Plone
    Pillow
    plone.app.caching
    collective.funkload

#    wecena.mlm

develop =

#    src/wecena.mlm
    
# If you want to register ZCML slugs for any packages, list them here.
# e.g. zcml = my.package my.other.package
zcml =

#    wecena.mlm
    
# mr.developer directive
auto-checkout = *

# Put your mr.developer managed source code repositories here, see
# http://pypi.python.org/pypi/mr.developer for details on format for this part
[sources]
collective.developermanual = git git://github.com/collective/collective.developermanual.git
